.cont {
  margin: 100px auto;
  width: 65%;
  border: 1px solid rgb(148, 144, 144);
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 7px;
  color: rgb(63, 62, 62);
}
.des_cont {
  margin-right: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: space-between;
}
.cont img {
  border-radius: 7px;
}
h2 {
  font-size: 30px;
  font-weight: 400;
  letter-spacing: 1px;
}
h3 {
  font-size: 22px;
  letter-spacing: 0.5px;
  font-weight: 300;
}
.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
}
.cont button {
  margin-top: 30px;
  padding: 15px 50px;
  border-radius: 50px;
  border: none;
  cursor: pointer;
  background-color: #17a2b8;
  color: #fff;
}
